@import "tailwindcss";
@config '../../../tailwind.config.js';

@theme {
  --color-dark-gray: hsl(var(--dark-gray));
  --color-light-blue: hsl(var(--light-blue));
  --color-orange-accent: hsl(var(--orange-accent));
}

* {
  /* @apply outline-1 outline-red-500; */
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  @font-face {
    font-family: "Satoshi";
    font-weight: 900;
    src: url("~/assets/fonts/Satoshi/Satoshi-Black.otf") format("opentype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 900;
    font-style: italic;
    src: url("~/assets/fonts/Satoshi/Satoshi-BlackItalic.otf")
      format("opentype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 700;
    src: url("~/assets/fonts/Satoshi/Satoshi-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 700;
    font-style: italic;
    src: url("~/assets/fonts/Satoshi/Satoshi-BoldItalic.otf") format("opentype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 400;
    font-style: italic;
    src: url("~/assets/fonts/Satoshi/Satoshi-Italic.otf") format("opentype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 300;
    src: url("~/assets/fonts/Satoshi/Satoshi-Light.otf") format("opentype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 300;
    font-style: italic;
    src: url("~/assets/fonts/Satoshi/Satoshi-LightItalic.otf")
      format("opentype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 500;
    src: url("~/assets/fonts/Satoshi/Satoshi-Medium.otf") format("opentype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 500;
    font-style: italic;
    src: url("~/assets/fonts/Satoshi/Satoshi-MediumItalic.otf")
      format("opentype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 400;
    src: url("~/assets/fonts/Satoshi/Satoshi-Regular.otf") format("opentype");
  }
}

@layer base {
  :root {
    --orange-accent: 35 100% 58%;

    --dark-gray: 220 9% 46%;
    --light-blue: 194 100% 97%;
    --dark-blue: 203 67% 15%;

    --background: 0 0% 100%;
    --foreground: 220 43% 11%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 193 75% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply text-base font-primary;
    /* outline: green dotted 1px; */
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg font-bold;
  }

  h6 {
    @apply text-base font-bold;
  }

  body {
    @apply bg-background text-foreground;
  }

  .container {
    @apply px-4 sm:px-6 md:px-6 lg:px-20;
  }
}
